
body {
    background-color: lightgrey;
    font-family: "Trebuchet MS", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    width: 850px;
    margin: 20px auto;
    background-color: white;
    border: 2px solid lightsteelblue;
    padding: 10px;
}


#header {
    background-color: lightblue;
    border: 2px solid skyblue;
    text-align: center;
    padding: 10px;
}

    #header h1 {
        color: teal;
        margin: 0;
    }

.tagline {
    font-style: italic;
    color: seagreen;
    font-size: 14px;
}

.entry p {
    color: crimson;
}

#sidebar {
    float: left;
    width: 200px;
    background-color: palegreen;
    border: 6px solid forestgreen;
    padding: 10px;
    box-sizing: border-box;
}

    #sidebar h2 {
        color: darkgreen;
        margin-top: 0;

    }

    #sidebar ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    #sidebar a {
        color: darkgreen;
        text-decoration: none;
        font-weight: bold;
        border-bottom: 1px dashed darkgreen;
    }


#content {
    margin-left: 230px;
    padding: 10px;
}

.entry {
    background-color: aliceblue;
    border: 2px solid lightskyblue;
    margin-bottom: 15px;
    padding: 10px;
    overflow: auto;
}

    .entry h3 {
        color: royalblue;
        font-weight: bold;
        margin-top: 0;
    }

.date {
    color: dodgerblue;
    font-weight: bold;
}

.entryimg {
    float: right;
    width: 120px;
    height: auto;
    margin-left: 10px;
    border: 1px solid gray;
}


